{% extends "base.html" %}

{% block content %}
<h1> List of books</h1>
<style type="text/css">
button {
	width: 100px;
	height: 15px;
	border: none;
	cursor: pointer;
	background-color: #4CAF50;
	

	
}
</style>
<button type="button" onclick="window.location.href='{{ url_for('add_book') }}';">Add new book</button>



{% for b in books %}
<div id="book-container">
    <a href="{{ url_for('detail_book', title=b.title) }}">{{ b.title }}</a>
    <div><p>{{ b.description }}</p></div>
    <br>
</div>


{% endfor %}
{% endblock %}
